vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2012 15:17:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|parts.html standard-layout.html news.html index.html
vti_author:SR|EUROPE\\a-nickdu
vti_modifiedby:SR|EUROPE\\a-nickdu
vti_timecreated:TR|29 Feb 2012 17:05:08 -0000
vti_nexttolasttimemodified:TW|19 Mar 2012 15:17:03 -0000
vti_cacheddtm:TX|19 Mar 2012 15:17:23 -0000
vti_filesize:IR|5272
vti_cachedlinkinfo:VX|S|../../images/footer-bg.jpg S|../../images/nav-bg.jpg S|../../images/nav-over.jpg S|../../images/nav-over.jpg S|../../images/page-bg.jpg S|../../images/article-bg.jpg S|../../images/article-bg.jpg S|../../images/nav-bg.jpg S|../../images/nav-over.jpg
vti_cachedsvcrellinks:VX|FSUS|images/footer-bg.jpg FSUS|images/nav-bg.jpg FSUS|images/nav-over.jpg FSUS|images/nav-over.jpg FSUS|images/page-bg.jpg FSUS|images/article-bg.jpg FSUS|images/article-bg.jpg FSUS|images/nav-bg.jpg FSUS|images/nav-over.jpg
